<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="main.css">
	<title>G Secrets</title>
</head>

<body>
  <header>
    <h1>GS</h1>
    <!-- Login -->
  </header>
	<section class="welcome">

	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="main.js"></script>
</body>

</html>
